.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }


  .side{
    min-height: 700px;
  }

  .resp{
    position :relative;
    margin: 5px;
    min-height: 250px;
    min-width: 200px;
    // background-color: red;
  }
