.main{
  width: 100%;
  overflow:scroll;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }


  .side{
    min-height: 700px;
    width: 100%;
  }

  .resp{
    position :relative;
    margin: 5px;
    min-height: 250px;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    .resp{
      position :relative;
      margin: 5px;
      min-height: 250px;
    }
  }
